<!--

This is in case I delete my about me section, I can copy and paste now

Welcome
    "Welcome to my blog. Feel free to explore around, get to know me, listen to some sermons from my church, and contact me if you wish."


About Me
    "Hello, my name is Dustin. I am new to blogging and am actually getting into this because I am getting in to coding, programming and website building, and this is my first website. I am still learning and have a long way to go but I am looking forward to seeing how far my websites can go. Now, I am building website with coding instead of using template websites. Not that there is anything wrong with them, I just like the idea of coding.

Aside from website building, I am actually mainly employed as a church pastor. God has called me to preach, teach and live the Gospel and that is what I endeavor to do. I am hoping this blog will be an extension of this calling. While I may post some progress about my programming, I mainly will post sermon audio recordings from my church and write some blog posts concerning different thoughts from the Bible God places in my mind.

I am married, and my wife and I have 1 daughter, another child on the way, and 2 puppies. So with our family and labors as a pastor's family, we keep fairly busy.

If you would like to get to know me, or have honest questions concerning the Bible, religion, websites, or anything else, feel free to use the contact link above and I will do my best to get back to you. 

If you would like notifications when I post something or update the website, then feel free to subscribe and you will receive an email when something changes.

Thank you for stopping by, and I hope to hear from you! :)"






-->