{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block content %}


<!-- Subscribe Form -->


<div id="subscribeBlock" class="container container-sm shadow p-3 mb-5 bg-body rounded">
    <h1>Subscribe Here</h1>
    <p id="subscribeMessage">If you would like to receive notifications when I post on the blog, add a picture or add
        sermons, please fill out the form below and you will begin to receive emails when we update.</p> <!-- look into getting check boxes for specific interests people want notified for -->


    <form action="/contact" method="POST">
        {{ subscribe.csrf }}
        {{ subscribe.hidden_tag() }}

        {{ subscribe.subscribe_first_name(class="form-control", placeholder="First Name") }}
        <br>
        {% for error in subscribe.subscribe_first_name.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>

        {{ subscribe.subscribe_last_name(class="form-control", placeholder="Last Name") }}
        <br>
        {% for error in subscribe.subscribe_last_name.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>
        
        {{ subscribe.subscribe_email(class="form-control", placeholder="sample@email.com") }}
        <br>
        {% for error in subscribe.subscribe_email.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>

        {{ subscribe.subscribe_recaptcha }}
        <br>
        {% for error in subscribe.subscribe_recaptcha.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">Please make sure the box is checked and then resubmit.</li>
        </ul>
        {% endfor %}
        <br>

        {{ subscribe.subscribe_submit(class="btn btn-secondary") }} &nbsp;&nbsp;&nbsp; <input class="btn btn-secondary" type='reset'>
        <br>
        {% for error in subscribe.subscribe_submit.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        
        
    </form>
</div>

    <br>



    
<!-- Contact Form -->

<div id="contactBlock" class="container container-sm shadow p-3 mb-5 bg-body rounded">
    <h1 id="contactMe"> Contact Me </h1>
    <p id="contact">If you wish to contact me, whether with questions about the Bible, spiritual things, or about
        potentially building a website for you, please email me: dustinsblog22@gmail.com </p>

    <p>Or you may contact me with the form below:</p>


    <form id="contactForm" action="/contact" method="POST">
        {{ contact.csrf }}
        {{ contact.hidden_tag() }}

        {{ contact.contact_subject() }}
        <br>
        {% for error in contact.contact_subject.errors %}
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}

        <br>
        
     
        {{ contact.contact_first_name(class="form-control", placeholder="First Name") }}
        <br>
        {% for error in contact.contact_first_name.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>
       
        {{ contact.contact_last_name(class="form-control", placeholder="Last Name") }}
        <br>
        {% for error in contact.contact_last_name.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>
        
        {{ contact.contact_email(class="form-control", placeholder="sample@email.com") }}
        <br>
        {% for error in contact.contact_email.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>

        {{ contact.contact_text(class="form-control", cols="60", rows="10", placeholder="Write your message here.") }}
        <br>
        {% for error in contact.contact_text.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        <br>

        {{ contact.contact_recaptcha }}
        <br>
        {% for error in contact.contact_recaptcha.errors %}
        
        <ul>
            <li style="color:red; text-decoration:dotted;">Please make sure the box is checked and then resubmit.</li>
        </ul>
        {% endfor %}
        <br>

        {{ contact.contact_submit(class="btn btn-secondary") }} &nbsp;&nbsp;&nbsp; <input class="btn btn-secondary" type='reset'>

        {% for error in contact.contact_submit.errors %}
        <br>
        <ul>
            <li style="color:red; text-decoration:dotted;">{{ error }}</li>
        </ul>
        {% endfor %}
        
    </form>
</div>


{% endblock %}